@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color: white;
  box-sizing: border-box;

}

.btn-1 {
  background-color: #485fe6;
  padding: 8px 10px;
  color: #ffffff;
  border-radius: 12px;
  transition: background 0.5s ease-in-out;
}

.btn-1:hover {
  
  background-color: #e2e6fd;
  color: #485fe6;

}

.btn-2 {
  border: 1px solid #485fe6;
  background-color: #e2e6fd;
  color: #485fe6;
  padding: 8px 10px;
  border-radius: 12px;
  transition: background 0.5s ease-in-out;
}

.btn-2:hover {
  background-color: #485fe6;
  color: #ffffff;
}

a {
  transition: 0.3s;
}

a:hover {
  color: #F7931A
}

.btn-2:hover .myBox {
  filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
}

.img-white {
  filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
}

.social {
  border: #1e1e1e solid 1px;
  border-radius: 100%;
  transition: background 0.3s ease-in-out;
}

.myMenu {
  transition: all 1s;
}

.social:hover {
  background-color: #1e1e1e;
  color: white
}

.header {
  transition: all 0.3s;
}

.social:hover .myIcon {
  filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
}

.keyframe h3 {
  text-align: left;
  white-space: nowrap;
  transform: translateX(100%);
  animation: moving 10s linear infinite;

}

.keyframe {
  overflow: hidden;
  background: linear-gradient(90deg, #EF9123 0%, #7A6EAC 76.19%, #4C60E1 100%);
}

.testimonies {
  background-image: url("/public/img/bg-stripe.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes moving {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}